@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --height: 150px;
  --flag-hw: 200px;

  --red: #ed2938;
  --white: #fff;
  --blue: #002495;
  --blue2: #0269a6;

  --red2: #de0002;
  --yellow: #ffce00;

  --black: #000;

  --red3: #fc3e32;
  --green: #007e39;
  --white2: #fff;

  --red4: #ff0002;
  --red5: #bc022c;

  --orange: #e15307;
  --green2: #10af2a;
}

body {
  background: #e2e2e2;
  margin: 1rem auto;
  height: 100vh;
  
}
main{
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
h1{
  display: block;
  text-align: center;
  margin-bottom: 1rem;

}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
section {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px dashed #aaa;
  padding: 1rem;
  margin: .5rem;
}
.stripe {
  flex-grow: 1;
}
.flag-france {
  height: var(--height);
  width: calc(var(--height) * 3 / 2);
  background: white;
  display: flex;
}
.flag-germany {
  height: var(--height);
  width: calc(var(--height) * 5 / 3);
  background: white;
  display: grid;
}
.flag-madagascar {
  height: var(--height);
  width: calc(var(--height) * 1.5);
  display: flex;
}
.flag-switzerland {
  height: var(--flag-hw);
  width: var(--flag-hw);
  background: var(--red4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.flag-japan {
  height: var(--height);
  width: calc(var(--height) * 3 / 2);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag-sweden {
  height: var(--height);
  width: calc(var(--height) * 8 / 5);
  background: var(--blue2);
  display: flex;
  position: relative;
}
.flag-ninger {
  background: blue;
  height: var(--flag-hw);
  width: calc(var(--flag-hw) * 7 / 6);
  display: grid;
  position: relative;
}
.flag-italy {
  height: var(--height);
  width: calc(var(--height) * 3 / 2);
  background: white;
  display: flex;
}

.red {
  background: var(--red);
}
.blue {
  background: var(--blue);
}
.white {
  background: var(--white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red2 {
  background: var(--red2);
}
.black {
  background: var(--black);
}
.yellow {
  background: var(--yellow);
}

.white2 {
  background: var(--white2);
  width: calc(var(--height) / 2);
}
.red3 {
  background: var(--red3);
  height: calc(var(--height) / 2);
  width: var(--height);
}
.green {
  background: var(--green);
  height: calc(var(--height) / 2);
  width: var(--height);
}
.orange {
  background: var(--orange);
}
.circle-orange {
  position: absolute;
  background: var(--orange);
  height: calc(var(--flag-hw) / 3 * 0.85);
  width: calc(var(--flag-hw) / 3 * 0.85);
  border-radius: 50%;
}
.green2 {
  background: var(--green2);
}

.red4 {
  background: var(--red4);
}
.red5 {
  background: var(--red5);
  width: calc(var(--height) * 3 / 5);
  height: calc(var(--height) * 3 / 5);
  border-radius: 50%;
}
.cross {
  height: calc(var(--flag-hw) * 3 / 16);
  width: calc(var(--flag-hw) * 5 / 8);
  background: var(--white);
}
.cross2 {
  transform: rotate(90deg);
  position: absolute;
}
.stripe2 {
  background: var(--yellow);
  height: calc(var(--height) * 1 / 5);
}

.stripe-yellow {
  align-self: center;
  width: 100%;
}
.stripe-yellow2 {
  position: absolute;
  width: var(--height);
  transform: rotate(90deg);
  top: calc(var(--height) * 4 / 10);
}
